<div  mat-dialog-content style="width: 100%;">
    <mat-card style="width: 100%;">
        <button (click)="cancelar()" style="float: right;" mat-button >X</button>

        <mat-card-header>

            <mat-card-title *ngIf="!data.ejercicio" style="font-size: 30px;">Nuevo ejercicio</mat-card-title>
            <mat-card-title *ngIf="data.ejercicio" style="font-size: 30px;">Editar ejercicio</mat-card-title>

        </mat-card-header>
        <mat-card-content >
            <br>
<form [formGroup]="fomularioEjercicio" >
    <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Tipo</mat-label>
    <mat-select formControlName="tipo">
        <mat-option *ngFor="let tipo of tipos" [value]="tipo">
        {{tipo}}
        </mat-option>
    </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input (keyup)="verficarNombre()" matInput placeholder="Nombre" name="nombre" formControlName="nombre" style="width: 300px;">
        <mat-error *ngIf="fomularioEjercicio.controls['nombre'].hasError('required')">
            El nombre es obligatorio
        </mat-error>
        
    </mat-form-field><p style="color: red" *ngIf="nombreError">Ya existe ejercicio con ese nombre</p>

    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Descripcion</mat-label>
        <textarea matInput placeholder="Descripcion" name="descripcion" formControlName="descripcion"></textarea>
        <mat-error *ngIf="fomularioEjercicio.controls['descripcion'].hasError('required')">
            La descripcion es obligatoria
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Video de YouTube</mat-label>
        <input matInput placeholder="Video"  name="video" formControlName="video">
        
    </mat-form-field><p style="color: red" *ngIf="videoErro"> El video tiene un fomato invalido</p>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Repeticiones o tiempo</mat-label>
        <input matInput placeholder="Repeticiones" name="repeticiones" formControlName="duracion">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Zona muscular</mat-label>
        <input matInput placeholder="Zona muscular" name="Zona muscular" formControlName="zonaMuscular">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Dificultad</mat-label>
        <mat-select formControlName="dificultad">
            <mat-option *ngFor="let d of dificultades" [value]="d">{{d}}</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Materiales necesarios</mat-label>
        <input matInput placeholder="Materiales necesarios" name="Materiales necesarios" formControlName="materiales">
    </mat-form-field>
    <br>
        

    <button *ngIf="!this.data.ejercicio" mat-raised-button color="primary" (click)="nuevoEjercicio()">Crear ejercicio</button>
    <button *ngIf="this.data.ejercicio" mat-raised-button color="primary" (click)="nuevoEjercicio()">Guardar cambio</button>
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
</form>
        </mat-card-content>
    </mat-card>
</div>